<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
	
	<link href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Playfair+Display:ital,wght@1,700&family=Work+Sans:wght@300;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ "/styles/common.css" | url }}" />
  </head>
  <body>
    